<p *ngIf="loading">Loading...</p>
<div *ngIf="!loading">
  {{ bookData.title }}

  <div *ngIf="BookAvailability">
    <p>Available</p>
    <button type="button" (click)="rentCurrentBook()">RENT</button>
  </div>

  <div *ngIf="!BookAvailability">
    <div *ngIf="bookBorrowerUID === undefined || bookBorrowerUID === ''">
      Not available, borrowed by: <span>{{ bookBorrowerName }}</span>
    </div>

    <div *ngIf="bookBorrowerUID !== undefined || bookBorrowerUID !== ''">
      <div *ngIf="bookBorrowerUID === user.owner.uid"></div>
      <p>
        You've borrowed this book, don't forget to return it when you finish
        reading it please
      </p>
      <button type="button" (click)="returnCurrentBook()">RETURN BOOK</button>
    </div>
  </div>

  <nz-rate
    [(ngModel)]="bookReview"
    [nzTooltips]="tooltips"
    (ngModelChange)="sendBookReview()"
  ></nz-rate>
  <div>
    <button routerLink="/books/{{ isbn }}/edit" type="button">EDIT</button>
  </div>
</div>
