.availability-tag {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 8px;
}
.count {
  padding-left: 8px;
  cursor: auto;
}
.comments-section {
  padding: 2rem 0.5rem;
  .comment-container {
    position: relative;

    .reviewer-rate {
      position: absolute;
      right: 0;
      top: 6px;
      z-index: 1;

      .ant-rate-star {
        font-size: 16px !important;
      }
    }
  }
}
