<p *ngIf="loading">Loading...</p>
<div *ngIf="!loading">
  {{ bookData.title }}

  <div *ngIf="BookAvailability && bookInMySchool">
    <p>Available</p>
    <button type="button" (click)="rentCurrentBook()">RENT</button>
  </div>

  <div *ngIf="BookAvailability === false">
    <div *ngIf="bookBorrowerUID === user.owner.uid">
      <p>
        You've borrowed this book, consider returning it when you finish reading
        it please.
      </p>
      <button type="button" (click)="returnCurrentBook()">RETURN BOOK</button>
    </div>

    <div *ngIf="bookBorrowerUID !== user.owner.uid">
      Not available, borrowed by: <span>{{ bookBorrowerName }}</span>
    </div>
  </div>

  <div *ngIf="bookInMySchool === false">
    This book isn't available at your school!
  </div>

  <nz-rate
    [(ngModel)]="bookReview"
    [nzTooltips]="tooltips"
    (ngModelChange)="sendBookReview()"
  ></nz-rate>
  <div>
    <button routerLink="/books/{{ isbn }}/edit" type="button">EDIT</button>
  </div>

  <h4 style="margin-bottom: 16px;">Availabilities:</h4>
  <div
    *ngFor="let school of schoolsAvailabilities"
    class="availability-tag"
    nz-tooltip
    nzTooltipTitle="Available"
  >
    <nz-tag *ngIf="school.available" [nzColor]="'green'">{{
      school.slug
    }}</nz-tag>
    <nz-tag
      *ngIf="!school.available"
      nzTool
      [nzColor]="'volcano'"
      nz-tooltip
      nzTooltipTitle="Unavailable"
      >{{ school.slug }}</nz-tag
    >
  </div>
</div>
