<h4 *ngIf="loading">Loading...</h4>
<div *ngIf="!loading" class="semi-fluid-container">
  <div class="masonry-row books-container">
    <article
      *ngFor="let book of allBooks; let i = index"
      class="masonry-item book-container main-box-shadow"
    >
      <div class="book-content clearfix">
        <div class="book-cover-container">
          <img
            class="main-box-shadow"
            src="{{
              isValidCoverUrl(book.cover)
                ? book.cover
                : '../assets/images/book-cover-placeholder.jpg'
            }}"
            #bookCover
            (error)="
              bookCover.onerror = null;
              bookCover.src = '../assets/images/book-cover-placeholder.jpg'
            "
            alt="book cover"
          />
        </div>
        <div class="book-details">
          <div class="book-heading">
            <div class="book-title">
              <h3>{{ book.title }}</h3>
            </div>
            <div class="book-rating">
              <nz-rate
                [(ngModel)]="booksReviews[i]"
                nzAllowHalf
                [nzTooltips]="tooltips"
                nzDisabled
              ></nz-rate
              >({{ book.reviews.totalCount }})
            </div>
          </div>
          <div class="book-body">
            <div class="book-author">
              <p>
                By <span class="book-author-name">{{ book.author }}</span>
              </p>
            </div>
            <div class="available-at">
              <ul class="schools">
                <span>
                  {{
                    allBookAvailabilities[i].length > 1
                      ? "schools: "
                      : "school: "
                  }}
                </span>
                <li class="school">
                  {{
                    allBookAvailabilities[i]
                      .slice(0, -1)
                      .join(", ")
                      .concat(
                        allBookAvailabilities[i].length > 1
                          ? "
                  and 
                  "
                          : "",
                        allBookAvailabilities[i].slice(-1)
                      )
                  }}
                </li>
              </ul>
            </div>
            <div
              class="book-action-button main-button"
              routerLink="/books/{{ book.isbn }}"
            >
              View
            </div>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
