.container {
  margin-top: 10rem;

  form {
    padding: 100px 120px 70px 120px;
    border-radius: 10px;
    background-color: white;
  }
}

.login-form {
  max-width: 600px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}