<div class="container">
  <h3 class="form-title"></h3>
  <form
    nz-form
    [formGroup]="validateForm"
    class="create-book-form"
    (ngSubmit)="submitForm()"
  >
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input an ISBN!">
        <nz-input-group nzPrefixIcon="barcode">
          <input
            type="text"
            nz-input
            formControlName="bookISBN"
            placeholder="978-XX-XXXXX-XX-X"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please insert the book title!">
        <nz-input-group nzPrefixIcon="book">
          <input
            nz-input
            formControlName="title"
            type="text"
            placeholder="The book title"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please insert the book's author!">
        <nz-input-group nzPrefixIcon="user">
          <input
            nz-input
            formControlName="author"
            type="text"
            placeholder="The book's author"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please insert an image url">
        <nz-input-group nzPrefixIcon="link">
          <input
            nz-input
            formControlName="cover"
            type="text"
            placeholder="The book's cover image URL"
          />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please insert the book's language!">
        <nz-select
          formControlName="bookLanguage"
          nzAllowClear
          nzPlaceHolder="BOOK'S LANGUAGE"
          nzShowSearch
        >
          <nz-option
            *ngFor="let language of bookLanguages"
            nzValue="{{ language.code }}"
            nzLabel="{{ language.name }}"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please choose the book format">
        <nz-select
          formControlName="bookFormat"
          nzAllowClear
          nzShowSearch
          nzPlaceHolder="BOOK'S FORMAT"
        >
          <nz-option
            *ngFor="let format of bookFormats"
            nzValue="{{ format.name }}"
            nzLabel="{{ format.name }}"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please choose the book school(s)">
        <nz-select
          nzMode="multiple"
          nzAllowClear
          nzPlaceHolder="SCHOOLS"
          formControlName="bookSchool"
        >
          <nz-option
            *ngFor="let school of beCodeSchools"
            nzValue="{{ school.slug }}"
            nzLabel="{{ school.slug }}"
          >
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control>
        <span *ngIf="bookExists" style="color: #f5222d;">{{
          CreateBookErrorMessage
        }}</span>
        <button nz-button class="create-book-form-button" [nzType]="'primary'">
          Create
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>
