.create-book-form {
  max-width: 300px;
}

.create-book-form-button {
  width: 100%;
}

.upload-button-container {
  display: table;
  float: left;
  width: 128px;
  height: 128px;
  margin: 0;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: "tnum";
  outline: 0;
  &:hover {
    border-color: #1890ff;
  }

  .upload-button {
    display: table-cell;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5;
    list-style: none;
    font-feature-settings: "tnum";
    outline: 0;
    .cover-url {
      object-fit: cover;
      width: 128px;
      height: 128px;
    }
    .upload-text {
      margin: 0;
    }
  }
}

.upload-icon {
  font-size: 32px;
  color: #999;
}
.ant-upload-text {
  margin-top: 16px;
  color: #666;
}
