<div *ngIf="loading">Loading...</div>
<ng-container *ngIf="!loading">
  <div>
    <h3>
      Hello ADD PHOTO HERE
      <b>{{ user.name }}</b>
    </h3>
    <button (click)="logout()">LOGOUT</button>
  </div>
  <h2>Rented books:</h2>
  <div class="books-container">
    <div class="book" *ngFor="let lentBook of user.bookLendings">
      <div class="book-content">
        <nz-card [nzCover]="coverTemplate">
          <nz-card-meta
            nzTitle="{{ lentBook.book.author }}"
            nzDescription="{{ lentBook.book.title }}"
          ></nz-card-meta>
          <a routerLink="/books/{{ lentBook.book.isbn }}">VIEW</a>
          <br />
          <button
            (click)="
              returnBook(returnBookButton.closest('.book'), lentBook.book.isbn)
            "
            #returnBookButton
          >
            RETURN
          </button>
        </nz-card>
        <ng-template #coverTemplate>
          <img
            src="{{
              isValidCoverUrl(lentBook.book.cover)
                ? lentBook.book.cover
                : '../assets/images/book-cover-placeholder.jpg'
            }}"
            alt="Book Cover"
            #bookCover
            (error)="
              bookCover.onerror = null;
              bookCover.src = '../assets/images/book-cover-placeholder.jpg'
            "
          />
        </ng-template>
      </div>
    </div>
  </div>

  <h2>Add reviewed books here, later:</h2>
</ng-container>
