<div class="home-page-container">
  <div *ngIf="!user" class="container">
    <div class="home-page-description">
      <div class="page-title">
        <h1>BeCode's Bookshelf</h1>
      </div>
      <div class="page-description">
        <h3 class="description-head">
          By using this webapp you'll be able to:
        </h3>
        <ul class="description-menu">
          <li class="description-item">
            Blah blah
          </li>
        </ul>
      </div>

      <div class="redirect-links-container">
        <p class="info">Start today</p>
        <p class="redirect-link">Login</p>
        or
        <p class="redirect-link">Register now</p>
      </div>
    </div>
  </div>
</div>
