<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Audiowide|Cinzel|Muli:300|Playfair+Display+SC|Righteous|Special+Elite&display=swap"
      rel="stylesheet"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="home-page-container">
      <div *ngIf="!user" class="container">
        <div class="home-page-description">
          <div class="page-title">
            <h1>BeCode's Bookshelf</h1>
          </div>
          <div class="page-description">
            <h3 class="description-head">
              By using this webapp you'll be able to:
            </h3>
            <ul class="description-menu">
              <li class="description-item">
                see the whole library of BeCode
              </li>
              <li class="description-item">
                rent a book
              </li>
              <li class="description-item">
                return a book
              </li>
              <li class="description-item">
                see your profil
              </li>
            </ul>
          </div>
          <div class="arrow bounce"></div>

          <div class="redirect-links-container">
            <span class="info">START NOW</span>
          </div>

          <!-- <div id="login-register">
            <nav class="login-register">
              <li *ngIf="!user" routerLink="/login" routerLinkActive="active">
                <span>Login</span>
              </li>
              <li
                *ngIf="!user"
                routerLink="/register"
                routerLinkActive="active"
              >
                <span>Register</span>
              </li>
            </nav>
          </div> -->
        </div>
      </div>
    </div>
  </body>
</html>
